# Day 2

In [1]:
import pandas as pd

In [4]:
with open('/Users/williamkirkland/Data/KDS/adventofcode/2022/data/day2.txt') as file:
    master_list = [line.rstrip().split() for line in file]

In [8]:
df = pd.DataFrame(master_list, columns=['opponent', 'player'])
opp_dict = {'A':'rock', 'B':'paper', 'C':'scissors'}
player_dict = {'X':'rock', 'Y':'paper', 'Z':'scissors'}
df = df.replace({'opponent':opp_dict, 'player':player_dict})

In [9]:
df.head()

   opponent    player
0  scissors  scissors
1  scissors  scissors
2      rock      rock
3      rock      rock
4     paper  scissors

In [10]:
def rock_paper_scissor(opp, player):
    if opp == player:
        return 3

    if opp =='rock':
        if player == 'paper':
            return 6
        else:
            return 0

    elif opp == 'paper':
        if player == 'scissors':
            return 6
        else:
            return 0

    else:
        if player == 'rock':
            return 6
        else:
            return 0

In [11]:
df['score'] = df.apply(lambda x: rock_paper_scissor(x['opponent'], x['player']), axis=1)

In [14]:
df['player_score'] = df['player'].replace('rock', 1).replace('paper', 2).replace('scissors', 3)

In [16]:
df['total_score'] = df['score'] + df['player_score']

In [17]:
df.head(10)

   opponent    player  score  player_score  total_score
0  scissors  scissors      3             3            6
1  scissors  scissors      3             3            6
2      rock      rock      3             1            4
3      rock      rock      3             1            4
4     paper  scissors      6             3            9
5     paper  scissors      6             3            9
6     paper  scissors      6             3            9
7      rock  scissors      0             3            3
8     paper      rock      0             1            1
9      rock      rock      3             1            4

In [18]:
total_points = df['total_score'].sum()
total_points

14264

## Question 2

In [19]:
df = pd.DataFrame(master_list, columns=['opponent', 'strategy'])
opp_dict = {'A':'rock', 'B':'paper', 'C':'scissors'}
strategy_dict = {'X':'lose', 'Y':'draw', 'Z':'win'}
df = df.replace({'opponent':opp_dict, 'strategy':strategy_dict})

In [20]:
df.head()

   opponent strategy
0  scissors      win
1  scissors      win
2      rock     lose
3      rock     lose
4     paper      win

In [21]:
def strategy_play(opponent, strategy):
    if strategy == 'draw':
        return opponent

    if opponent == 'rock':
        if strategy == 'lose':
            return 'scissors'
        else:
            return 'paper'
    elif opponent == 'paper':
        if strategy == 'lose':
            return 'rock'
        else:
            return 'scissors'
    else:
        if strategy == 'lose':
            return 'paper'
        else:
            return 'rock'

In [22]:
df['player'] = df.apply(lambda x: strategy_play(x['opponent'], x['strategy']), axis=1)

In [23]:
df.head()

   opponent strategy    player
0  scissors      win      rock
1  scissors      win      rock
2      rock     lose  scissors
3      rock     lose  scissors
4     paper      win  scissors

In [24]:
df['score'] = df.apply(lambda x: rock_paper_scissor(x['opponent'], x['player']), axis=1)
df['player_score'] = df['player'].replace('rock', 1).replace('paper', 2).replace('scissors', 3)
df['total_score'] = df['score'] + df['player_score']

In [25]:
df.head()

   opponent strategy    player  score  player_score  total_score
0  scissors      win      rock      6             1            7
1  scissors      win      rock      6             1            7
2      rock     lose  scissors      0             3            3
3      rock     lose  scissors      0             3            3
4     paper      win  scissors      6             3            9

In [26]:
total_score = df['total_score'].sum()
total_score

12382