# Day 3

In [5]:
import pandas as pd
from ast import literal_eval

In [9]:
with open('/Users/williamkirkland/Data/KDS/adventofcode/2022/data/day3.txt') as file:
    master_list = [line.rstrip() for line in file]

In [10]:
df = pd.DataFrame(master_list, columns=['full_list'])
df['full_list'] = df['full_list'].apply(lambda x: list(x))
df.head()

                                           full_list
0  [z, B, B, t, H, n, n, H, t, w, w, H, p, l, m, ...
1  [v, v, h, J, c, c, J, F, G, F, c, N, s, d, N, ...
2   [G, P, h, j, c, j, h, Z, D, j, W, t, n, S, V, H]
3  [B, N, h, H, V, h, r, G, N, V, T, b, D, H, d, ...
4  [l, v, t, s, f, b, s, q, z, w, S, n, J, c, v, ...

In [11]:
def split_list(a_list):
    half = len(a_list)//2
    return a_list[:half], a_list[half:]

In [12]:
df['a'], df['b'] = zip(*df['full_list'].apply(split_list))

In [13]:
df.head()

,full_list,a,b
0,"[z, B, B, t, H, n, n, H, t, w, w, H, p, l, m, ...","[z, B, B, t, H, n, n, H, t, w, w, H]","[p, l, m, l, R, l, z, P, L, C, p, p]"
1,"[v, v, h, J, c, c, J, F, G, F, c, N, s, d, N, ...","[v, v, h, J, c, c, J, F, G, F, c, N, s, d, N, ...","[Q, p, l, Q, M, R, L, Q, M, l, f, d, f, T, P, ..."
2,"[G, P, h, j, c, j, h, Z, D, j, W, t, n, S, V, H]","[G, P, h, j, c, j, h, Z]","[D, j, W, t, n, S, V, H]"
3,"[B, N, h, H, V, h, r, G, N, V, T, b, D, H, d, ...","[B, N, h, H, V, h, r, G, N, V, T, b, D, H, d, D]","[J, d, J, R, P, J, d, S, Q, Q, S, J, w, P, j, R]"
4,"[l, v, t, s, f, b, s, q, z, w, S, n, J, c, v, ...","[l, v, t, s, f, b, s, q, z]","[w, S, n, J, c, v, j, S, m]"

In [15]:
df['common'] = df.apply(lambda x: list(set(x['a']).intersection(x['b'])), axis=1)
df.head()

,full_list,a,b,common
0,"[z, B, B, t, H, n, n, H, t, w, w, H, p, l, m, ...","[z, B, B, t, H, n, n, H, t, w, w, H]","[p, l, m, l, R, l, z, P, L, C, p, p]",[z]
1,"[v, v, h, J, c, c, J, F, G, F, c, N, s, d, N, ...","[v, v, h, J, c, c, J, F, G, F, c, N, s, d, N, ...","[Q, p, l, Q, M, R, L, Q, M, l, f, d, f, T, P, ...",[d]
2,"[G, P, h, j, c, j, h, Z, D, j, W, t, n, S, V, H]","[G, P, h, j, c, j, h, Z]","[D, j, W, t, n, S, V, H]",[j]
3,"[B, N, h, H, V, h, r, G, N, V, T, b, D, H, d, ...","[B, N, h, H, V, h, r, G, N, V, T, b, D, H, d, D]","[J, d, J, R, P, J, d, S, Q, Q, S, J, w, P, j, R]",[d]
4,"[l, v, t, s, f, b, s, q, z, w, S, n, J, c, v, ...","[l, v, t, s, f, b, s, q, z]","[w, S, n, J, c, v, j, S, m]",[v]

In [16]:
import string

In [24]:
lower_case = [x for x in string.ascii_lowercase]
upper_case = [x for x in string.ascii_uppercase]
lower_case, upper_case

(['a',
  'b',
  'c',
  'd',
  'e',
  'f',
  'g',
  'h',
  'i',
  'j',
  'k',
  'l',
  'm',
  'n',
  'o',
  'p',
  'q',
  'r',
  's',
  't',
  'u',
  'v',
  'w',
  'x',
  'y',
  'z'],
 ['A',
  'B',
  'C',
  'D',
  'E',
  'F',
  'G',
  'H',
  'I',
  'J',
  'K',
  'L',
  'M',
  'N',
  'O',
  'P',
  'Q',
  'R',
  'S',
  'T',
  'U',
  'V',
  'W',
  'X',
  'Y',
  'Z'])

In [29]:
point_dict = {}
for n in range(0, 26):
    point_dict[lower_case[n]] = n+1

for n in range(0,26):
    point_dict[upper_case[n]] = n+27

In [31]:
point_dict['L']

38

In [32]:
df['priority'] = df['common'].apply(lambda x: point_dict[x[0]])

In [33]:
sum = df['priority'].sum()

In [34]:
sum

7597

In [47]:
df = df.reset_index()

In [48]:
df.head()

,index,full_list,a,b,common,priority
0,0,"[z, B, B, t, H, n, n, H, t, w, w, H, p, l, m, ...","[z, B, B, t, H, n, n, H, t, w, w, H]","[p, l, m, l, R, l, z, P, L, C, p, p]",[z],26
1,1,"[v, v, h, J, c, c, J, F, G, F, c, N, s, d, N, ...","[v, v, h, J, c, c, J, F, G, F, c, N, s, d, N, ...","[Q, p, l, Q, M, R, L, Q, M, l, f, d, f, T, P, ...",[d],4
2,2,"[G, P, h, j, c, j, h, Z, D, j, W, t, n, S, V, H]","[G, P, h, j, c, j, h, Z]","[D, j, W, t, n, S, V, H]",[j],10
3,3,"[B, N, h, H, V, h, r, G, N, V, T, b, D, H, d, ...","[B, N, h, H, V, h, r, G, N, V, T, b, D, H, d, D]","[J, d, J, R, P, J, d, S, Q, Q, S, J, w, P, j, R]",[d],4
4,4,"[l, v, t, s, f, b, s, q, z, w, S, n, J, c, v, ...","[l, v, t, s, f, b, s, q, z]","[w, S, n, J, c, v, j, S, m]",[v],22

In [50]:
df['group_id'] = df.apply(lambda x: x['index'] // 3, axis=1)

In [51]:
df.head()

,index,full_list,a,b,common,priority,group_id
0,0,"[z, B, B, t, H, n, n, H, t, w, w, H, p, l, m, ...","[z, B, B, t, H, n, n, H, t, w, w, H]","[p, l, m, l, R, l, z, P, L, C, p, p]",[z],26,0
1,1,"[v, v, h, J, c, c, J, F, G, F, c, N, s, d, N, ...","[v, v, h, J, c, c, J, F, G, F, c, N, s, d, N, ...","[Q, p, l, Q, M, R, L, Q, M, l, f, d, f, T, P, ...",[d],4,0
2,2,"[G, P, h, j, c, j, h, Z, D, j, W, t, n, S, V, H]","[G, P, h, j, c, j, h, Z]","[D, j, W, t, n, S, V, H]",[j],10,0
3,3,"[B, N, h, H, V, h, r, G, N, V, T, b, D, H, d, ...","[B, N, h, H, V, h, r, G, N, V, T, b, D, H, d, D]","[J, d, J, R, P, J, d, S, Q, Q, S, J, w, P, j, R]",[d],4,1
4,4,"[l, v, t, s, f, b, s, q, z, w, S, n, J, c, v, ...","[l, v, t, s, f, b, s, q, z]","[w, S, n, J, c, v, j, S, m]",[v],22,1

In [69]:
grouped = df.groupby('group_id', as_index=False)['full_list'].apply(list).reset_index()
print(type(grouped))

<class 'pandas.core.frame.DataFrame'>

In [72]:
print(grouped.columns)
grouped.head()

Index(['index', 0], dtype='object')

   index                                                  0
0      0  [[z, B, B, t, H, n, n, H, t, w, w, H, p, l, m,...
1      1  [[B, N, h, H, V, h, r, G, N, V, T, b, D, H, d,...
2      2  [[V, S, S, H, c, T, g, T, t, T, d, t, l, l, Z,...
3      3  [[t, N, F, D, p, D, F, r, t, d, j, f, m, j, j,...
4      4  [[b, p, W, q, q, q, W, v, H, B, p, w, G, B, C,...

In [75]:
grouped['common'] = grouped[0].apply(lambda x: list(set.intersection(*[set(list) for list in x]))[0])

In [77]:
grouped['priority'] = grouped['common'].apply(lambda x: point_dict[x[0]])

In [78]:
grouped.head()

   index                                                  0 common  priority
0      0  [[z, B, B, t, H, n, n, H, t, w, w, H, p, l, m,...      P        42
1      1  [[B, N, h, H, V, h, r, G, N, V, T, b, D, H, d,...      b         2
2      2  [[V, S, S, H, c, T, g, T, t, T, d, t, l, l, Z,...      Z        52
3      3  [[t, N, F, D, p, D, F, r, t, d, j, f, m, j, j,...      S        45
4      4  [[b, p, W, q, q, q, W, v, H, B, p, w, G, B, C,...      q        17

In [80]:
grouped_sum = grouped['priority'].sum()
grouped_sum

2607