# Day 4

In [1]:
import pandas as pd

In [2]:
with open('/Users/williamkirkland/Data/KDS/adventofcode/2022/data/day4.txt') as file:
    master_list = [line.rstrip() for line in file]

In [3]:
master_list[0]

'2-5,15-90'

In [4]:
a_val_first = []
a_val_last = []
b_val_first = []
b_val_last = []
for n in range(0,len(master_list)):
    single_list = []
    # Split to two pairs
    pairs = master_list[n].split(',')
    # Split into each pair of digits
    a = pairs[0].split('-')
    a_val_first.append(int(a[0]))
    a_val_last.append(int(a[1]))
    b = pairs[1].split('-')
    b_val_first.append(int(b[0]))
    b_val_last.append(int(b[1]))

In [5]:
full_list = [
    a_val_first,
    a_val_last,
    b_val_first,
    b_val_last
]
columns = ['a_start', 'a_end', 'b_start', 'b_end']

In [6]:
for l in full_list:
    print(len(l))

1000
1000
1000
1000

In [7]:
df = pd.DataFrame()
for n in range(0,4):
    series = pd.Series(full_list[n])
    df[columns[n]] = series

In [8]:
df.tail()

     a_start  a_end  b_start  b_end
995       55     59       54     58
996        6      6        7     15
997       21     98       20     99
998        1      2        3     30
999       72     77       20     77

In [9]:
def determine_subset(a_start, a_end, b_start, b_end):
    if (a_start >= b_start) and (a_end <= b_end):
        return 1
    if (b_start >= a_start) and (b_end <= a_end):
        return 1
    else:
        return 0

In [10]:
df['subset'] = df.apply(lambda x: determine_subset(
    x['a_start'], x['a_end'], x['b_start'], x['b_end']
), axis=1)
df.head()

   a_start  a_end  b_start  b_end  subset
0        2      5       15     90       0
1       42     93       43     57       1
2       71     95       72     81       1
3       19     92        2     93       1
4       21     92       57     93       0

In [11]:
subset_count = df['subset'].sum()
subset_count

462

## Question 2

In [12]:
def find_overlap(a_start, a_end, b_start, b_end):
    if (a_start >= b_start) and (a_start <= b_end):
        return 1
    if (b_start >= a_start) and (b_start <= a_end):
        return 1
    else:
        return 0

In [13]:

print(find_overlap(0, 3, 2, 6))
print(find_overlap(1, 5, 7, 9))

1
0

In [14]:
df['overlap'] = df.apply(lambda x: find_overlap(
    x['a_start'], x['a_end'], x['b_start'], x['b_end']
), axis=1)
df.head()

   a_start  a_end  b_start  b_end  subset  overlap
0        2      5       15     90       0        0
1       42     93       43     57       1        1
2       71     95       72     81       1        1
3       19     92        2     93       1        1
4       21     92       57     93       0        1

In [15]:
overlap_count = df['overlap'].sum()
overlap_count

835